/** THIS FILE IS FOR THE VERTICAL INFO BOXES ON THE LFRAME**/

/*HEADERS*/
.vheader1{
    z-index: 98;
    position: absolute;
    width: 300px;
    height: 56px;
    background: #3D153A;
    top: 358px;
    left: 0px;
    font-size: 48px;
}
.vh1t{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 56px;
    top: 358px;
    left: 0px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
    color: white;
    text-shadow: 2px 2px #000000;
}
.vheader2{
    z-index: 98;
    position: absolute;
    width: 300px;
    height: 56px;
    background: #3D153A;
    top: 598px;
    left: 0px;
    font-size: 48px;
}
.vh2t{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 56px;
    top: 598px;
    left: 0px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px; 
    color: white;
    text-shadow: 2px 2px #000000;
}
.vheader3{
    z-index: 98;
    position: absolute;
    width: 300px;
    height: 56px;
    background: #3D153A;
    top: 838px;
    left: 0px;
    font-size: 48px;
}
.vh3t{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 56px;
    color: white;
    top: 838px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
    text-shadow: 2px 2px #000000;
}
/*BODIES*/
.vbody1{
    z-index: 98;
    position: absolute;
    width: 300px;
    height: 184px;
    background-color: #000000;
    opacity: 50%;
    top: 414px;
    left: 0px;
    font-size: 48px;
}
.vb1t{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 184px;
    top: 414px;
    left: 0px;
    font-size: 32px;
    color: white;
}
.vbody2{
    z-index: 98;
    position: absolute;
    width: 300px;
    height: 184px;
    background-color: #000000;
    top: 654px;
    left: 0px;
    font-size: 48px;
    opacity: 50%;
}
.vb2t{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 184px;

    top: 654px;
    left: 0px;
    font-size: 32px;
    color: white;
}
.vbody3{
    z-index: 98;
    position: absolute;
    width: 300px;
    height: 186px;
    background-color: #000000;
    opacity: 50%;
    top: 894px;
    left: 0px;
    font-size: 48px;
}
.vb3t{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 186px;

    top: 894px;
    left: 0px;
    font-size: 32px;
    color: white;
}