/* These first 2 classes are for the base shape of the lbox.*/

.lboxhorizontal {
    position: absolute;
    background-color: darkslategrey;
    width: 1920px;
    height: 200px;
    left: 0px;
    bottom: 0px;
    opacity: 50%;
    visibility: visible;
}

.lboxvertical {
    opacity: 50%;
    position: absolute;
    background-color: darkslategray;
    width: 300px;
    height: 880px;
    top: 0px;
}
/*Logos */
.CorgLogo {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0px;
    top: 0px;
}

.SponLogo {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0px;
    bottom: 0px;
}

.orgName {
    position: absolute;
    width: 300px;
    height: 128px;
    font-size: 64px;
    top: 300px
}
/*Clock*/
.timeMrFreeman {
    font-size: 48px;
    position: absolute;
    top: 350px;
    color: white;
    font-family: GoodTimes;
    background-color: darkslateblue;
    width: 300px;
}

/*For the vibs panel*/
.vibsm {
    background-color: darkslateblue;
    color: white;
    font-size: 32px;
    font-family: GoodTimes;
}

.vibspace1 {
    position: absolute;
    width: 300px;
    top: 450px;
}

.vibspace2 {
    position: absolute;
    width: 300px;
    top: 550px;
}

.vibspace3 {
    position: absolute;
    width: 300px;
    top: 650px;
}

/*Older horizontal space panel*/
.hst1 {
    position: absolute;
    font-family: DroidSans;
    font-size: 36px;
    left: 300px;
    bottom: 0px;
    columns: white;
    background-color: darkslategrey;
    width: 880px;
    height: 200px;
    color: white;

}
/*Horizontal space 1*/
.hs1Header {
    position: absolute;
    font-family: DroidSans;
    font-size: 52px;
    left: 300px;
    top: 880px;
    width: 1000px;
    height: 64px;
   /* background-color: rgb(83, 153, 51);*/
   background-color: black;
    opacity: 59%;
    color: white;
    text-align: center;
}

.hs1HeaderText {
    position: absolute;
    font-family: DroidSans;
    font-size: 52px;
    left: 300px;
    top: 880px;
    width: 1000px;
    height: 64px;
    color: white;
    text-align: center;
}

.hs1Body {
    position: absolute;
    font-family: DroidSans;
    font-size: 32px;
    left: 300px;
    top: 944px;
    width: 1000px;
    height: 136px;
    background-color: rgb(51, 104, 153);
    color: white;
    text-align: center;
    opacity: 58%;
}


.hs1BodyText {
    position: absolute;
    font-family: DroidSans;
    font-size: 32px;
    left: 300px;
    top: 944px;
    width: 1000px;
    height: 136px;
    color: white;
    text-align: center;
}


/** IMPORTING FONTS**/
@font-face {
    font-family: DroidSans;
    src: url(../fonts/DroidSans.ttf);
}

@font-face {
    font-family: GoodTimes;
    src: url(../fonts/good_times.ttf);
}