.lboxhorizontal{
    position: absolute;
    background-color: darkslategrey;
    width: 1920px;
    height: 200px;
    left: 0px;
    bottom: 0px;
    opacity: 50%;
}
.lboxvertical{
    opacity: 50%;
    position: absolute;
    background-color: darkslategray;
    width: 300px;
    height: 880px;
    top:0px;
}

.CorgLogo{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0px;
    top: 0px;
}

.SponLogo{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    bottom: 0px;
}

.orgName{
    position: absolute;
    width: 300px;
    height: 128px;
    font-size: 64px;
    top: 300px
}

.timeMrFreeman{
    font-size: 48px;
    position: absolute;
    top: 350px;
    color: white;
    font-family: GoodTimes;
    background-color: darkslateblue;
    width: 300px;
}


.vibsm{
    background-color: darkslateblue;
    color: white;
    font-size: 32px;
    font-family: GoodTimes;
}

.vibspace1{
    position: absolute;
    width: 300px;
    top: 450px;
}
.vibspace2{
    position: absolute;
    width: 300px;
    top: 550px;
}
.vibspace3{
    position: absolute;
    width: 300px;
    top: 650px;
}


.hst1{
    position: absolute;
    font-family: DroidSans;
    font-size: 36px;
    left: 300px;
    bottom: 100px;
    columns: white;
    background-color: slateblue;
    width: 880px;
    height: 75px;
    color: white;
    
}

/** IMPORTING FONTS**/
@font-face {
    font-family: DroidSans;
    src: url(../fonts/DroidSans.ttf);
  }
@font-face {
    font-family: GoodTimes;
    src: url(../fonts/good_times.ttf);
}