/** THIS FILE IS FOR THE VERTICAL INFO BOXES ON THE LFRAME**/

/*HEADERS*/
.vheader1{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 56px;
    background-color: red;
    top: 358px;
    left: 0px;
    font-size: 48px;
}
.vheader2{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 56px;
    background-color: red;
    top: 598px;
    left: 0px;
    font-size: 48px;
}
.vheader3{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 56px;
    background-color: red;
    top: 838px;
    left: 0px;
    font-size: 48px;
}
/*BODIES*/
.vbody1{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 184px;
    background-color: white;
    top: 414px;
    left: 0px;
    font-size: 48px;
}
.vbody2{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 184px;
    background-color: white;
    top: 654px;
    left: 0px;
    font-size: 48px;
}
.vbody3{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 186px;
    background-color: white;
    top: 894px;
    left: 0px;
    font-size: 48px;
}